*
{
    margin: 0;
}


/* .poster
{
border: 30px solid rgb(159, 96, 241);
padding: 10px;
margin: 40px;
margin-right: 750px;
padding-left: 70px;
background-color: rgb(7, 7, 7);
padding-top: 20px;
} */

h1
{
    font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
color: white;
padding-left: 110px;
text-transform: uppercase;
}

.img
{
    border: 10px solid white;
}
div
{
    width: 600px;
    height: 400px;
    background-color: black;
    padding: 40px;
    padding-left: 120px;
}